
main {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.allPost{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}